
#main{
	margin: 0;
	width: 100%;
	height: 1000px;
	background-color: #57AEFE;
	position: relative;
}
#header{
	width: 100%;
	height: 50px;
	background-color: dimgrey;
}
#login_div{
	height: 500px;
	width: 500px;
	position: absolute;
	top: 100px;
	right: 150px;
	background-color:lightblue;
	-webkit-border-radius:30px;
}
#left_login{
	width: 175px;
	height:150px;
	position: relative;
	top: 175px;
	left: 0px;
	float: left;
}
#user_login{
	width: 175px;
	height:100px;
	background-color: #FDFDFD;
	z-index: 10;
	-webkit-border-radius: 10px 0px 0px 0px;
}
#user_login:hover{
	background-color: #EFFAFF;
	box-shadow:5px 0px 5px #CCCCCC;
}
#mana_login{
	width: 175px;
	height: 50px;
	background-color: #FDFDFD;
	-webkit-border-radius: 0px 0px 0px 10px;
}
#mana_login:hover{
	background-color: #EFFAFF;
	box-shadow:5px 0px 5px #CCCCCC;
}
#right_login{
	width: 300px;
	height: 400px;
	background-color:#EFFAFF;
	margin-top: 50px;
	float: left;
	z-index: 9;
}